@import '../../../../styles/variables.module';
.character {
  width: 200px;
  background: $bg-card;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

  &__title {
    padding: 15px;
    color: $card-color;

    min-height: 100px;
  }
}